.cart {
    cursor: pointer;
    display: flex;
    padding: 10px;
    transition: all .3s ease;
    @include maxw($mq-md) {
        order: 3;
        align-items: center;
    }
    &:hover {
        svg {
            path {
                fill: #af824c;
                transition: all .5s ease;
            }
        }
    }
}