.cart {
    left: auto;
    right: 0;
    float: right;
    width: 35px;
    display: inline-flex;
    @include maxw($mq-md) {
        margin: 0;
    }
    @include minw($mq-md) {
        order: 3;
    }
    >img {
        width: 100%;
    }
}