.item-detail {
    padding: 25px;
    display: grid;
    gap: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    @include minw($mq-md) {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 50px;
        padding: 40px;
    }

    .content-img {
        margin: 0 auto;
        @include minw($mq-md) {
            width: 400px;

        }
        >img {
            width: 100%;
        }
    }
    .content-detail {
        @include minw($mq-md) {
            padding: 30px;
        }
        .product {
            &--category {

            }
            &--name {
                font-family: $ff-Jost-SemiBold;
                font-size: 22px;
                line-height: 1.2;
                @include minw($mq-md) {
                    font-size: 30px;
                }
            }
            &--description {
                font-family: $ff-Quicksand-Regular;
                font-size: 14px;
                line-height: 1.3;
                @include minw($mq-md) {
                    font-size: 16px;
                }
            }
            &--size {

            }
        }
    }

    .btn-add-to-cart {
        background-color: $green;
        border: none;
        border-radius: 4px;
        color: $white;
        cursor: pointer;
        width: max-content;
        padding: 10px 15px;
        margin-top: 30px;
    }
}