.item-list-container {
    background-color: $white;
    padding: 10px;
    width: 95%;
    margin: 10px auto 0;
    @include minw($mq-md) {
        padding: 50px;
    }
    .text {
        color: $gray;
        font-size: 18px;
    }
}