.item-detail {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-bottom: 50px;

    .content-img {
        width: 400px;
        margin: 0 auto;
        >img {
            width: 100%;
        }
    }
    .content-detail {
        padding: 30px;
    }

    .btn-add-to-cart {
        background-color: $green;
        border: none;
        border-radius: 4px;
        color: $white;
        cursor: pointer;
        width: max-content;
        padding: 10px 15px;
        margin-top: 30px;
    }
}