#navbar {
    ul {
        li {
            @include minw($mq-md) {
                margin: 0 10px;
            }
            a {
                color: $black;
                font-family: $ff-Jost-SemiBold;
                font-size: 14px;
                transition: all .3s ease-out;
                @include minw($mq-md) {
                    display: inline;
                    padding: 5px;
                }

                &.current {
                    color: #77c4be;
                }
                &:hover {
                    background-color: transparent;
                    color: #77c4be;
                    transition: all .3s ease-in;
                }
            }
        }
    }
    nav {
        background-color: $white;
        .nav-wrapper {
            @include maxw($mq-md) {
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                align-items: center;
                height: 60px;
            }
            @include minw($mq-md) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            #nav-mobile {
                @include minw($mq-md) {
                    margin-left: 80px;
                    order: 2;
                }
            }
        }
        .brand-logo {
            width: 55px;
            display: inline-flex;

            @include minw($mq-md) {
                order: 1;
            }
            >img {
                width: 100%;
            }
        }
        .sidenav-trigger {
            @include maxw($mq-md) {
                display: inline-flex;
                height: fit-content;
                margin: 0;
            }
        }
    }
    .sidenav {
        padding: 30px 0;
    }
}