// Colors
$white: #fff;
$black: #000;
$gray: #c9c9c9;
$green: #8BBD8B;
$green-light: #CEE3D1;
$brown: #B68966;

// Images
$imgs: '../../assets/images/';

// Fonts
$font-path: '../../assets/fonts/';

$ff-Jost-Medium: 'Jost-Medium', sans-serif;
$ff-Jost-SemiBold: 'Jost-SemiBold', sans-serif;

$ff-Quicksand-Medium: 'Quicksand-Medium', sans-serif;
$ff-Quicksand-Regular: 'Quicksand-Regular"', sans-serif;
$ff-Quicksand-Bold: 'Quicksand-Bold', sans-serif;
